body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  background-color: #704179;
  padding: 0;
  z-index: -1;
}

h3 {
  margin-top: 0;
}

.my-3 {
  margin-bottom: 30px;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.white-text {
  color: #fff;
}

.jumbo-image {
  width: 100%;
}

/* Gallery Area */
.gallery {
  padding-top: 20px;
  margin: 10px;
  text-align: center;
}

.gallery img {
  margin-left: 5px;
  margin-right: 5px;
  transition: 1s;
  padding: 1px;
  width: 130px;
  border: 8px solid #fff;
}

@media only screen and (max-width: 1260px) {
  .gallery {
    padding-top: 5px;
  }
  .gallery img {
    width: 90px;
  }
}

@media only screen and (max-width: 900px) {
  .gallery {
    padding-top: 30px;
  }
  .gallery img {
    width: 120px;
  }
}

.gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}

.container-port {
  width: 95%;
  margin: 0 auto;
}

/* Main Area */
.uppercase {
  text-transform: uppercase;
  text-align: center;
  color: #cccacc;
  font-size: 18px;
}

.jumbotronportfolio {
  width: 100%;
  padding-top: 50px;
}

.main-grid-container {
  padding-left: 95px;
  display: -ms-grid;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 40vh 40vh 20vh;
  grid-template-rows: 40vh 40vh 20vh;
  grid-template-areas:
    "main main main main main main main main main main top-right"
    "main main main main main main main main main main bottom-right"
    "main main main main main main main main main main last-box";
}

.item1 {
  grid-area: main;
  background-color: #3e1349;
  position: relative;
  min-width: 35vw;
}

.star-static {
  width: 25%;
  position: absolute;
  top: 67%;
  left: 38%;
  transition: 1.5s;
}

.star {
  width: 100%;
}

.showin {
  max-width: 75px;
  max-height: 75px;
  position: absolute;
  top: 67%;
  left: 40%;
  opacity: 0;
  transform: scale(0.2); /* 1/10 of the original size */
  transition: all 1.5s ease-in-out;
}

.showin:hover {
  transform: scale(1);
  opacity: 1;
}

.showin a {
  display: inline-block;
  z-index: 1;
  padding: 10em;
  margin: -10em;
}

.item2 {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: top-right;
  background-color: #d7d7d7;
  position: relative;
  min-width: 35vw;
}

.item3 {
  grid-area: bottom-right;
  background-color: #7a797a;
  position: relative;
  /* min-height: 215px; */
}

.item4 {
  grid-area: last-box;
  background-color: #323232;
}

.logo-image {
  width: 100%;
}

.image-holder {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 40%;
  margin-left: -150px;
  margin-top: -150px;
}

.item-wrapper {
  width: 70%;
  margin: 0 auto;
}

.how-to-container {
  background-color: #d7d7d7;
  padding-bottom: 20px;
}

.how-wrapper {
  width: 80%;
  /* padding-left: 75px; */
  padding-bottom: 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 33.334% 33.334% 33.334%;
}

.boxa,
.boxc {
  padding: 10px 65px;
  text-align: center;
}

.boxb {
  padding: 10px 50px;
  text-align: center;
}

.service-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.service-backdrop {
  background-color: #3e1349;
  width: 80%;
  margin: 0 auto;
  margin-left: 12.5%;
  padding-top: 10px;
  padding-bottom: 30px;
}

.service-backdrop h2 {
  text-align: center;
  color: #d7d7d7;
  font-family: "Lato", sans-serif;
}
.box {
  background-color: #d7d7d7;
  text-align: center;
  padding: 10px 15px;
  margin: 3px;
  width: 100px;
  height: 100px;
}

.box h3 {
  color: #3e1349;
  font-family: "Lato", sans-serif;
  font-size: 18px;
}

.fas.service-icon {
  color: #3e1349;
  font-size: 30px;
}

.footer-wrapper {
  display: grid;
  grid-template-columns: 20% 55% 25%;
}

footer.how-service {
  background-color: #323232;
  min-height: 150px;
  margin-bottom: -20px;
  padding: 30px 30px 30px 85px;
}

.footerbox1 {
  padding-left: 30px;
}

.footerbox2 {
  padding-right: 20px;
}

@media only screen and (max-width: 500px) {
  .a {
    grid-row: 1 / 2;
    grid-column: 4 / 5;
  }
  .b {
    grid-row: 3 / 4;
    grid-column: 4 / 5;
  }
  .c {
    grid-row: 5 / 6;
    grid-column: 4 / 5;
  }
  .d {
    grid-row: 7 / 8;
    grid-column: 4 / 5;
  }
  .e {
    grid-row: 9 / 10;
    grid-column: 4 / 5;
  }
  .service-wrapper {
    width: 95%;
    margin: 0 auto;
    max-height: 200vh;
    text-align: center;
    padding-left: 30px;
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(10, 100px);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
  }
}

.iconboxlinks {
  text-decoration: none;
  color: #d7d7d7;
}

.how-title {
  font-size: 20px;
  font-family: "Fresca", sans-serif;
  color: #3e1349;
  font-weight: bold;
  line-height: 22px;
}

.iconbox {
  margin: 0 auto;
  background-color: #3e1349;
  color: #d5d5d5;
  padding: 10px;
  width: 130px;
  height: 130px;
  transition: 0.5s ease-in-out;
}

.iconbox h3 {
  font-family: "Lato", sans-serif;
  font-size: 18px;
}

.fa.fa-comments,
.fas.fa-drafting-compass,
.fas.fa-hands-helping,
.fas.fa-paper-plane,
.fas.fa-globe,
.fas.fa-shopping-cart {
  font-size: 60px !important;
}

.how-to-text {
  font-weight: bold;
  font-family: "Istok Web", sans-serif;
  font-size: 13px;
  text-align: left;
  margin-left: 20px;
  color: #3e1349;
  line-height: 15px;
}

ul.list-text {
  font-family: "Istok Web", sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-align: left;
  color: #3e1349;
  line-height: 15px;
  margin-left: -15px;
}

.call-to-action {
  background-color: #d7d7d7;
  font-family: "Lato", sans-serif;
  color: #323232;
  text-align: right;
  padding: 3px;
}

.underline {
  text-decoration: underline;
}

.call-to-action h2 {
  margin-top: -1px;
}

.call-to-action p {
  padding-right: 5px;
  margin-top: -15px;
  font-weight: bold;
  font-size: 20px;
}

.question {
  text-align: right;
  color: #d7d7d7;
  font-family: "Fresca", sans-serif;
  font-size: 22px;
}

.social-icons {
  padding-bottom: 15px;
}

.social-icons .fab {
  padding: 7px;
  font-size: 18px;
}
.social-icons .fa-facebook-f::before {
  padding: 8px 6px;
}

.rrspark-button img {
  margin-top: -30%;
  width: 95%;
  float: right;
}

.rrspark-button {
  position: relative;
}

@media only screen and (max-width: 1232px) {
  .rrspark-button img {
    float: none;
    margin: 0;
    width: 50%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1108px) {
  .grid-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 900px) {
  .grid-wrapper {
    grid-template-columns: 100%;
  }
}

.owl-carousel {
  padding-top: 40px;
  width: 100%;
  height: 25vh;
  z-index: 0;
}

@media only screen and (max-width: 1108px) {
  .owl-carousel {
    padding-top: 0;
    padding-bottom: 150px;
  }
}

/* Navigation */
.colored-side-slogan {
  position: absolute;
  color: #fff;
  font-family: "Lato", sans-serif;
  top: 15px;
  left: 15%;
  letter-spacing: 3px;
  z-index: 154;
}

#en,
#es {
  font-family: "Istok Web", sans-serif;
}

.slogan {
  font-family: "Lato", sans-serif;
}

.sidebar-content {
  border-top: 3px solid #341b39;
  padding: 15px;
  font-family: "Istok Web", sans-serif;
  color: #333;
}

.sidebar-content h4 {
  font-size: 24px;
  padding-left: 15px;
}

.sidebar-content p {
  font-size: 16px;
  padding-left: 15px;
  color: #341b39;
  margin-top: 0;
}

.sidebar-content ul {
  list-style: none;
}

.sidebar-content ul li {
  font-size: 18px;
  padding-left: 15px;
}

.sidenav {
  height: 100%;
  max-height: 100vh !important;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 80px;
  background-color: #fff;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  /* padding-top: 20px; */
}

.sidenav a {
  padding: 5px 5px 5px 85px;
  text-decoration: none;
  font-family: "Istok Web", sans-serif;
  font-size: 18px;
  color: #341b39;
  display: block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.sidenav a .translateLower {
  color: #341b39;
  font-size: 18px;
  text-transform: uppercase;
}

.big-cap {
  font-size: 26px;
  color: #341b39;
}

.sidenav a:hover {
  color: #787878;
}

.button-area {
  font-size: 50px;
  font-weight: 300;
  color: #fff;
  padding-left: 20px;
  padding-top: 20px;
  position: absolute;
  top: 0;
  z-index: 154;
}

span .button-area {
  font-size: 75px;
  z-index: 154;
}

.colored-side {
  background-color: #704179;
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 100vh;
  z-index: 153;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}

.sidenav .closebtn {
  position: absolute;
  top: 5px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.link-holder {
  position: absolute;
  bottom: 24px;
  left: 9px;
  margin-top: 5px;
  z-index: 154;
}

.link-holder a {
  color: #fff;
  display: inline;
  font-size: 12px;
  padding: 6px;
  -webkit-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  -moz-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  z-index: 154;
}

.link-holder a:hover {
  color: #d7d7d7;
  zoom: 1.1;
  z-index: 154;
}

/* Promo Area */
.item-wrapper-2 {
  width: 90%;
  /* margin: 0 auto; */
  /* padding-top: 20px; */
}

.promo-header {
  text-align: center;
  color: #797a79;
  font-size: 34px;
  padding-bottom: 5px;
}

.button-box {
  text-align: center;
  -webkit-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  -moz-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

a.button-text-1 {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #797a79;
  text-transform: uppercase;
}

.stronger {
  font-size: 22px;
}

a.button-text-1:hover {
  color: #d7d7d7;
}

.center-obj {
  text-align: center;
  border: 2px solid #797a79;
  padding: 10px 10px;
  margin-top: -15px;
}

.center-obj a {
  font-weight: bold;
  display: inline-block;
  z-index: 1;
  padding: 2.5em;
  margin: -2.5em;
}

.center-obj:hover {
  background-color: #797a79;
  color: #d7d7d7;
}

.team-button {
  background-color: #341b39;
  color: #fff !important;
}

.wrapper a.team-button,
.team {
  text-align: center;
  padding: 5px 0 5px 0;
  width: 160px;
  font-size: 14px;
  margin: 0 auto;
}

.menu-wrapper {
  padding-bottom: 17px;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  padding-top: 25px;
}

a.aviso {
  text-align: center;
  font-size: 14px;
  padding-left: 15px !important;
  color: #341b39;
}

.wrapper .copy {
  font-size: 14px;
  color: #341b39;
}

p.copy {
  text-align: center;
  padding-left: 10px;
}

/* Services Area */
.item-wrapper-3 {
  width: 90%;
  margin: auto auto;
}

.services-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin: 6% 0 5% 0;
  min-height: 200px;
}

.services-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.services-menu ul li {
  padding: 8px;
  cursor: pointer;
}

.services-menu ul li a {
  text-decoration: none;
  font-family: "Istok Web", sans-serif;
  font-size: 34px;
  color: #d7d7d7;
  font-weight: normal;
  -webkit-transition: ease-in-out 0.25s;
  -o-transition: ease-in-out 0.25s;
  -moz-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
}

.service-links a:hover {
  color: #323232 !important;
}

.services {
  position: absolute;
  width: 350px;
  top: 50%;
  left: 54%;
  margin-left: -175px;
  margin-top: -175px;
  color: #d7d7d7;
  font-family: "Lato", sans-serif;
  font-size: 62px;
  padding-top: 125px;
  font-weight: normal;
}

#outer {
  opacity: 1;
  height: 100%;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

#inner {
  /* display: none; */
  opacity: 0;
  -webkit-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

#show-hide:hover #inner {
  display: block;
  height: 100%;
  opacity: 1;
}

#show-hide:hover #outer {
  opacity: 0;
  -webkit-transition: all ease-in-out 1s, opacity ease-in 1s;
  -o-transition: all ease-in-out 1s, opacity ease-in 1s;
  -moz-transition: all ease-in-out 1s, opacity ease-in 1s;
  transition: all ease-in-out 1s, opacity ease-in 1s;
}

/* Footer */
.col {
  float: left;
  width: 50%;
  margin: 0 auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer-text {
  text-align: left;
  font-family: "Istok Web", sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  color: #d7d7d7;
}

.item4-icons {
  margin-top: 20px;
}

.col:first-child {
  margin-top: 20px;
}

.footer-text:first-child {
  padding-bottom: 15px !important;
}

a.footer-contact-button {
  border: 1px solid #d7d7d7;
  padding: 8px 10px !important;
  text-decoration: none;
  color: #d7d7d7;
  -webkit-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  -moz-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

a.footer-contact-button:hover {
  background-color: #d7d7d7;
  color: #323232;
}

a.footer-whatsapp-button {
  border: 1px solid #d7d7d7;
  padding: 8px 20px !important;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  color: #d7d7d7;
  -webkit-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  -moz-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

a.footer-whatsapp-button:hover {
  background-color: #d7d7d7;
  color: #323232;
}

@media only screen and (max-width: 1231px) {
  .section {
    width: 300px;
    margin: 0 auto;
  }
  .how-wrapper {
    grid-template-columns: 1fr;
    padding-left: 0px;
  }
  .a {
    grid-row: 1 / 2;
    grid-column: 3 / 5;
  }
  .b {
    grid-row: 1 / 2;
    grid-column: 5 / 7;
  }
  .c {
    grid-row: 3 / 4;
    grid-column: 3 / 5;
  }
  .d {
    grid-row: 3 / 4;
    grid-column: 5 / 7;
  }
  .e {
    grid-row: 5 / 6;
    grid-column: 4 / 6;
  }
  .service-wrapper {
    width: 95%;
    margin: 0 auto;
    max-height: 100vh;
    text-align: center;
    padding-left: 30px;
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(10, 100px);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
  }
  .box {
    margin: 20px;
  }
  .footer-wrapper {
    grid-template-columns: 1fr;
    text-align: center;
  }
  footer.how-service {
    padding: 30px 30px 30px 30px;
  }
  .footerbox1 {
    padding-left: 0px;
    padding-bottom: 20px;
    text-align: center;
  }
  .how-service-footer {
    text-align: center;
  }
  .call-to-action {
    text-align: center;
    padding-top: 5px;
  }
}

@media only screen and (max-width: 850px) {
  .jumbo-image-holder {
    padding-top: 50px;
  }
  .service-backdrop {
    margin-left: 10%;
    width: 80%;
  }
}

@media only screen and (min-height: 830px) {
  .service-wrapper {
    max-height: 70vh;
  }
}

.whatsappbox {
  margin-bottom: 15px;
}

.room-to-breathe {
  margin-top: 30px !important;
  text-align: center;
}

.fab {
  text-align: center;
  background-color: #d7d7d7;
  padding: 8px;
  margin-right: 6px;
  font-size: 20px;
  color: #323232;
}

.fas {
  color: #d7d7d7;
  font-size: 40px;
  padding: 10px;
}

.fab:hover {
  background-color: #323232;
  color: #d7d7d7;
  border: 1px solid #d7d7d7;
}

.fab:first-child {
  margin-left: 5px;
}

.fab.fa-facebook-f {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.extra-padding-right {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.social {
  position: relative;
  min-width: 140px !important;
  margin-top: 20px;
}

.social a {
  font-family: "Lato", sans-serif;
}

.social1 {
  position: relative;
  text-align: left;
  margin-top: 10px;
}

/* Scroll Bar styles*/
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
  box-shadow: inset 0 0 5px grey;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6f4179;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border-right: 1px solid #cccacc;
  border-left: 2px solid #cccacc;
}

.grid-container {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 33.334% 33.334% 33.334%;
}

.grid-item {
  text-align: center;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(62, 19, 73, 0.5);
}

/* Media Queries */
/* Main Area */
@media only screen and (max-width: 1108px) {
  .main-grid-container {
    grid-template: 100%;
    -ms-grid-rows: 100vh 35vh 45vh 20vh;
    grid-template-rows: 100vh 35vh 45vh 20vh;
    grid-template-areas:
      "main"
      "top-right"
      "bottom-right"
      "last-box";
    padding-left: 85px;
    /* padding-top: 49px; */
  }
}

@media only screen and (max-width: 850px) {
  .main-grid-container {
    grid-template: 100%;
    -ms-grid-rows: 100vh 30vh 35vh 20vh;
    grid-template-rows: 100vh 30vh 35vh 20vh;
    grid-template-areas:
      "main"
      "top-right"
      "bottom-right"
      "last-box";
    padding-left: 0px;
    padding-top: 49px;
  }
}

@media only screen and (max-height: 500px) {
  .main-grid-container {
    -ms-grid-rows: 100vh 30vh 30vh 30vh;
    grid-template-rows: 100vh 30vh 30vh 30vh;
  }
  a.hidden-port {
    color: #797a79;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    top: 35%;
    left: 31%;
  }
}

@media only screen and (max-width: 411px) {
  .main-grid-container {
    grid-template: 100%;
    -ms-grid-rows: 50vh 35vh 35vh 25vh;
    grid-template-rows: 50vh 35vh 35vh 25vh;
    grid-template-areas:
      "main"
      "top-right"
      "bottom-right"
      "last-box";
    padding-left: 0px;
    padding-top: 49px;
  }
}

@media only screen and (max-width: 376px) {
  .main-grid-container {
    grid-template: 100%;
    -ms-grid-rows: 100vh 35vh 30vh 25vh;
    grid-template-rows: 100vh 35vh 30vh 25vh;
    grid-template-areas:
      "main"
      "top-right"
      "bottom-right"
      "last-box";
    padding-left: 0px;
    padding-top: 49px;
  }
  .image-holder {
    width: 250px !important;
    height: 250px !important;
    margin-left: -125px !important;
    margin-top: -125px !important;
  }
}

@media only screen and (max-width: 320px) {
  .main-grid-container {
    grid-template: 100%;
    -ms-grid-rows: 100vh 35vh 35vh 25vh;
    grid-template-rows: 100vh 35vh 35vh 25vh;
    grid-template-areas:
      "main"
      "top-right"
      "bottom-right"
      "last-box";
    padding-left: 0px;
    padding-top: 49px;
  }
}

@media screen and (min-width: 1050px) {
  .image-holder {
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px;
  }
  .uppercase {
    font-size: 22px;
  }
}

@media only screen and (max-height: 700px) {
  .image-holder {
    width: 350px;
    height: 350px;
    margin-left: -175px;
    margin-top: -175px;
  }
}

@media only screen and (max-height: 500px) {
  .image-holder {
    width: 200px !important;
    height: 200px !important;
    margin-left: -100px !important;
    margin-top: -150px !important;
  }
}

@media only screen and (max-height: 600px) {
  .image-holder {
    width: 300px;
    height: 300px;
    margin-left: -150px;
    margin-top: -150px;
  }
}

/* Navigation */
@media only screen and (min-width: 850px) {
  .colored-side-slogan {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    top: 25%;
    left: 5px;
    font-size: 19px;
  }
}

@media only screen and (max-width: 849px) {
  .colored-side-slogan {
    left: 30%;
  }
}

@media only screen and (max-width: 749px) {
  .colored-side-slogan {
    left: 25%;
  }
}

@media only screen and (max-width: 500px) {
  .colored-side-slogan {
    letter-spacing: 1px;
  }
}

@media only screen and (max-width: 400px) {
  .colored-side-slogan {
    left: 17%;
    letter-spacing: 1px;
  }
}

@media only screen and (max-width: 375px) {
  .colored-side-slogan {
    font-size: 14px;
    left: 23%;
    letter-spacing: 1px;
  }
}

@media only screen and (max-height: 500px) {
  .colored-side-slogan {
    font-size: 12px;
    bottom: 150px;
    left: 10px;
    text-align: center;
  }
}

@media only screen and (max-height: 600px) {
  .colored-side-slogan {
    font-size: 12px;
  }
}

@media only screen and (max-width: 850px) {
  .button-area {
    position: absolute;
    top: -31px;
    right: 8px;
  }
}

@media only screen and (max-width: 850px) {
  .colored-side {
    position: fixed;
    width: 100%;
    height: 50px !important;
    z-index: 1;
  }
}

@media only screen and (max-height: 700px) {
  .sidenav {
    margin-top: 0;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media only screen and (max-width: 850px) {
  .sidebar-content h3,
  .sidebar-content h4,
  .sidebar-content p,
  .sidebar-content a,
  .sidebar-content ul li {
    padding-left: 5px;
  }
  .sidenav a {
    padding-left: 85px;
  }
  .sidebar-content p {
    font-size: 16px;
  }
  .sidenav {
    position: fixed;
    left: 0;
    margin-top: 50px;
    z-index: 1;
  }
}

@media only screen and (max-width: 850px) {
  .link-holder {
    position: absolute;
    top: 6px;
    left: 9px;
  }
  .link-holder .language {
    padding-left: 0;
    padding: 6px;
  }
}

/* Promo Area */

@media only screen and (max-width: 1443px) {
  .center-obj a.button-text-1 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 919px) {
  .center-obj a.button-text-1 {
    font-size: 16px;
  }
}

@media only screen and (max-width: 375px) {
  .center-obj a.button-text-1 {
    font-size: 14px;
  }
  .promo-header {
    font-size: 28px;
  }
}

@media only screen and (max-height: 700px) {
  .item-wrapper-2 {
    margin-top: 5px;
  }
  .promo-header {
    font-size: 26px;
  }
}

@media only screen and (max-height: 600px) {
  .promo-header {
    font-size: 26px;
  }
}

@media only screen and (max-height: 700px) {
  a.button-text-1 {
    font-size: 18px;
  }
}

/* Services Area */
@media only screen and (max-height: 600px) {
  .services-menu ul li a {
    font-size: 28px !important;
  }
}

@media only screen and (max-height: 700px) {
  .services {
    font-size: 56px;
    width: 300px;
    margin-left: -150px;
    margin-top: -150px;
    padding-top: 110px;
  }
}

@media only screen and (max-width: 1040px) {
  .services {
    width: 300px;
    margin-left: -150px;
    margin-top: -150px;
    font-size: 52px;
    padding-top: 100px;
    padding-left: 10px;
  }
}

@media only screen and (max-width: 415px) {
  #inner {
    opacity: 1;
  }
  #outer {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    display: none;
    opacity: 0;
  }
}

/* Footer */
@media only screen and (max-width: 2000px) {
  .container {
    width: 75%;
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
  }
}

@media only screen and (max-width: 1460px) {
  .container {
    width: 85%;
  }
}

@media only screen and (max-width: 1145px) {
  .standard-info .footer-text:first-child {
    padding-bottom: 30px !important;
  }
}

@media only screen and (max-width: 920px) {
  .container {
    width: 90%;
  }
}

@media only screen and (max-width: 850px) {
  .container {
    width: 40%;
  }
  .standard-info .footer-text:first-child {
    padding-bottom: 25px !important;
    padding-top: 5px !important;
  }
}

@media only screen and (max-width: 750px) {
  .container {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 60%;
  }
}

@media only screen and (max-width: 501px) {
  .container {
    width: 70%;
  }
}

@media only screen and (max-width: 450px) {
  .container {
    width: 90%;
  }
}

@media only screen and (max-width: 1144px) {
  .footer-text {
    font-size: 16px;
    padding: 0;
    margin: 0;
  }
}

@media only screen and (max-height: 700px) {
  .footer-text {
    font-size: 16px;
  }
  .footer-text:first-child {
    padding-bottom: 10px;
  }
  .container {
    padding-top: 0;
  }
  .room-to-breathe {
    margin-top: 20px;
  }
}

@media only screen and (max-height: 700px) {
  a.footer-contact-button {
    padding: 3px 30px;
    font-size: 14px;
  }
  .footer-text {
    font-size: 14px;
  }
}

@media only screen and (max-width: 411px) {
  .container {
    width: 90%;
  }
}

@media only screen and (max-width: 360px) {
  a.footer-contact-button {
    padding: 8px 20px 8px 20px;
  }
  .fab {
    padding: 8px;
  }
}

@media only screen and (max-height: 700px) {
  .fab {
    font-size: 18px;
    padding: 3px;
  }
}
